/*! elementor - v1.8.7 - 29-11-2017 */
.pen {
  position: relative;
  outline: none; }
  .pen:not([data-elementor-inline-editing-toolbar="advanced"]) {
    white-space: pre-wrap; }
  .pen-menu {
    -webkit-box-shadow: 1px 2px 3px -2px #222;
            box-shadow: 1px 2px 3px -2px #222;
    background-color: #6D7882;
    position: fixed;
    border-radius: 3px;
    z-index: 9998; }
    .pen-menu:after {
      top: 100%;
      content: '';
      position: absolute;
      border: 6px solid transparent;
      border-top-color: #6D7882;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .pen-menu-below:after {
      top: 0;
      -webkit-transform: translateX(-50%) translateY(-100%) rotate(180deg);
          -ms-transform: translateX(-50%) translateY(-100%) rotate(180deg);
              transform: translateX(-50%) translateY(-100%) rotate(180deg); }
  .pen-icon {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 35px;
    padding: 0 10px;
    font-size: 21px;
    color: #D5DADF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .pen-icon:hover {
      background: #556068; }
    .pen-icon:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .pen-icon:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .pen-icon[data-group], .pen-icon[data-action="closeGroup"] {
      display: none; }
    .pen-icon[data-action="close"]:before {
      content: '';
      position: absolute;
      left: 0;
      height: 60%;
      width: 1px;
      background-color: #556068; }
    .pen-icon.active {
      background-color: #556068;
      -webkit-box-shadow: inset 2px 2px 4px #556068;
              box-shadow: inset 2px 2px 4px #556068; }
  .pen-group-icon:after {
    font-family: FontAwesome;
    font-size: 12px;
    content: '\f0d7';
    padding-left: 4px;
    color: #71d7f7; }
  .pen-input-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .pen-input-wrapper .pen-url-input {
      font-size: 12px;
      line-height: 1.5;
      padding: 0;
      padding-right: 10px;
      width: 250px; }
      .pen-input-wrapper .pen-url-input, .pen-input-wrapper .pen-url-input:focus {
        background-color: transparent;
        border: none;
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #fff; }
      .pen-input-wrapper .pen-url-input::-webkit-input-placeholder {
        color: #d5dadf; }
      .pen-input-wrapper .pen-url-input::-moz-placeholder {
        color: #d5dadf; }
      .pen-input-wrapper .pen-url-input:-ms-input-placeholder {
        color: #d5dadf; }
      .pen-input-wrapper .pen-url-input::-ms-input-placeholder {
        color: #d5dadf; }
      .pen-input-wrapper .pen-url-input::placeholder {
        color: #d5dadf; }
  .pen-input-label {
    margin: 0; }
  .pen-placeholder:before {
    content: attr(data-pen-placeholder);
    position: absolute;
    font-weight: normal;
    color: #757575;
    opacity: 0.6; }
  .pen-external-url-checkbox {
    display: none; }
    .pen-external-url-checkbox:checked + i {
      color: #fff; }

.elementor-inline-editing i {
  font-style: italic; }

.elementor-inline-editing b {
  font-weight: bold; }

.elementor-inline-editing u {
  text-decoration: underline; }

@-webkit-keyframes placeholder-section {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 40px;
    opacity: .9; } }

@keyframes placeholder-section {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 40px;
    opacity: .9; } }

@-webkit-keyframes placeholder-column {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 10px;
    opacity: .9; } }

@keyframes placeholder-column {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 10px;
    opacity: .9; } }

@-webkit-keyframes placeholder-widget {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 10px;
    opacity: .9; } }

@keyframes placeholder-widget {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 10px;
    opacity: .9; } }

@-webkit-keyframes section-outline {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes section-outline {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body.elementor-editor-active .elementor.elementor-edit-mode.layout-section .entry-content {
  overflow: visible; }

body.elementor-editor-active .elementor.elementor-edit-mode .article {
  overflow: visible; }

body.elementor-editor-active .elementor.elementor-edit-mode .elementor-element-overlay .elementor-editor-element-settings {
  clear: unset; }

body.elementor-editor-active .elementor.elementor-edit-mode .elementor-element.elementor-section {
  overflow: visible; }

#elementor .animated {
  -webkit-animation-fill-mode: none !important;
          animation-fill-mode: none !important; }

#elementor ul.elementor-editor-element-settings {
  word-break: normal;
  padding: 0; }

#elementor .gallery {
  opacity: 1; }

html.elementor-html {
  margin-top: 0 !important; }

#elementor {
  position: relative; }

.elementor-editor-active .elementor-inner {
  margin-top: 25px; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element-empty .elementor-sortable-placeholder {
  display: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-empty-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-first-add {
  text-align: center;
  border: 1px dashed #d5dadf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-first-add .elementor-icon {
    font-size: 19px;
    color: #a4afb7;
    cursor: pointer; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element > .elementor-element-overlay {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0;
  z-index: 9998;
  pointer-events: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element.elementor-widget-empty {
  background-color: rgba(213, 218, 223, 0.8); }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-element.elementor-widget-empty .elementor-widget-empty-icon {
    color: #c2cbd2;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 10px 0; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element:not(:hover):not(.elementor-element-editable) > .elementor-element-overlay .elementor-editor-element-settings {
  display: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element[data-side="top"]:before, .elementor-editor-active .elementor.elementor-edit-mode .elementor-element[data-side="bottom"] + .elementor-element:before {
  content: '';
  background-color: #71d7f7;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: .9;
  height: 10px;
  -webkit-animation: placeholder-widget 500ms;
          animation: placeholder-widget 500ms;
  display: block; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-element[data-side="bottom"]:last-child:after {
  content: '';
  background-color: #71d7f7;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: .9;
  height: 10px;
  -webkit-animation: placeholder-widget 500ms;
          animation: placeholder-widget 500ms;
  display: block; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-section > .elementor-element-overlay {
  right: 0;
  bottom: 0; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-section > .elementor-element-overlay:after {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    outline: 2px solid #71d7f7;
    -webkit-animation: section-outline .75s;
            animation: section-outline .75s; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-section:hover > .elementor-element-overlay:after, .elementor-editor-active .elementor.elementor-edit-mode .elementor-section.elementor-element-editable > .elementor-element-overlay:after {
  content: ''; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-top-section > .elementor-container > .elementor-row {
  min-height: 80px; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-inner-section:first-child {
  margin-top: 15px; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-inner-section > .elementor-container > .elementor-row {
  min-height: 40px; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  z-index: 1;
  pointer-events: all; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings .elementor-editor-element-trigger.elementor-active ~ .elementor-editor-element-setting {
    margin-right: 0; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings .elementor-editor-element-trigger:not(.elementor-active) ~ .elementor-editor-element-setting {
    width: 0;
    font-size: 0;
    padding: 0; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-settings .elementor-editor-element-remove:hover .fa {
    color: #f00; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-setting {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #fff;
  width: 25px;
  -webkit-transition: margin .3s, width .3s, font .3s;
  -o-transition: margin .3s, width .3s, font .3s;
  transition: margin .3s, width .3s, font .3s;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings {
  top: 1px;
  right: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41c9f4), to(#71d7f7));
  background-image: -webkit-linear-gradient(top, #41c9f4, #71d7f7);
  background-image: -o-linear-gradient(top, #41c9f4, #71d7f7);
  background-image: linear-gradient(to bottom, #41c9f4, #71d7f7);
  border-radius: 3px 3px 0 0;
  -webkit-transform: translateX(50%) translateY(-100%);
      -ms-transform: translateX(50%) translateY(-100%);
          transform: translateX(50%) translateY(-100%); }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings .elementor-editor-element-setting:hover {
    background-color: #10bcf2; }
  @media (min-width: 1025px) {
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings .elementor-editor-element-setting:first-child {
      padding-right: 1px; }
      .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings .elementor-editor-element-setting:first-child:not(.elementor-active) {
        padding-left: 1px; }
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-section-settings .elementor-editor-element-setting:last-child {
      padding-left: 1px; } }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings {
  top: -1px;
  right: -1px;
  border-radius: 0 3px 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6d7882), to(#556068));
  background-image: -webkit-linear-gradient(top, #6d7882, #556068);
  background-image: -o-linear-gradient(top, #6d7882, #556068);
  background-image: linear-gradient(to bottom, #6d7882, #556068); }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings .elementor-editor-element-setting:hover {
    background-color: #495157; }
  @media (min-width: 1025px) {
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings .elementor-editor-element-setting:first-child {
      padding-right: 1px; }
      .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings .elementor-editor-element-setting:first-child:not(.elementor-active) {
        padding-left: 1px; }
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings .elementor-editor-element-setting:last-child {
      padding-left: 1px; } }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings {
  z-index: 2;
  top: -1px;
  left: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#41c9f4), to(#71d7f7));
  background-image: -webkit-linear-gradient(bottom, #41c9f4, #71d7f7);
  background-image: -o-linear-gradient(bottom, #41c9f4, #71d7f7);
  background-image: linear-gradient(to top, #41c9f4, #71d7f7);
  border-radius: 0 0 3px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:hover {
    background-color: #10bcf2; }
  @media (min-width: 1025px) {
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:first-child {
      padding-left: 1px; }
      .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:first-child:not(.elementor-active) {
        padding-right: 1px; }
    .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings .elementor-editor-element-setting:last-child {
      padding-right: 1px; } }

@media (min-width: 1025px) {
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-trigger {
    cursor: move; } }

@media (max-width: 1024px) {
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-element-setting:not(.elementor-editor-element-trigger) {
    display: none; } }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-section-filled .elementor-editor-column-settings .elementor-editor-element-add, .elementor-editor-active .elementor.elementor-edit-mode .elementor-section-filled .elementor-editor-column-settings .elementor-editor-element-duplicate {
  display: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-section-filled .elementor-sortable-placeholder.elementor-column {
  display: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-section-filled .elementor-row.elementor-draggable-over {
  border: 1px solid #f00; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .elementor-element-overlay {
  right: 0;
  bottom: 0; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .elementor-element-overlay:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px dashed #6d7882; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-column:hover > .elementor-element-overlay, .elementor-editor-active .elementor.elementor-edit-mode .elementor-column.elementor-element-editable > .elementor-element-overlay {
  border: 1px solid #ffffff; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-column:hover > .elementor-element-overlay:after, .elementor-editor-active .elementor.elementor-edit-mode .elementor-column.elementor-element-editable > .elementor-element-overlay:after {
    content: ''; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-column.elementor-dragging-on-child > .elementor-element-overlay {
  border: 1px solid #71d7f7; }
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-column.elementor-dragging-on-child > .elementor-element-overlay:after {
    display: none; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .ui-resizable-e, .elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .ui-resizable-w {
  cursor: col-resize;
  width: 7px;
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%; }

.elementor-editor-active .elementor.elementor-edit-mode .elementor-column:last-of-type > .ui-resizable-e, .elementor-editor-active .elementor.elementor-edit-mode .elementor-column:last-of-type > .ui-resizable-w {
  display: none !important; }

@media (max-width: 1024px) {
  .elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .ui-resizable-e, .elementor-editor-active .elementor.elementor-edit-mode .elementor-column > .ui-resizable-w {
    display: none !important; } }

.elementor-editor-active .elementor-column-wrap.elementor-element-empty .elementor-widget-wrap {
  min-height: 60px; }
  @media (min-width: 768px) {
    .elementor-editor-active .elementor-column-wrap.elementor-element-empty .elementor-widget-wrap {
      margin: 10px; } }

.elementor-editor-active .elementor-widget.elementor-loading {
  opacity: .3; }

.elementor-editor-active .elementor-widget:not(.elementor-loading):not(.elementor-widget-menu-anchor) {
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.elementor-editor-active .elementor-widget.elementor-element-editable, .elementor-editor-active .elementor-widget.elementor-widget-can-edit:hover {
  outline: 1px solid #71d7f7; }

.elementor-editor-active .elementor-widget:not(:hover) .elementor-editor-element-settings {
  display: none; }

.elementor-editor-active .handle {
  display: none; }

.elementor-editor-active .elementor-sortable-helper {
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  color: #556068;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: move; }
  .elementor-editor-active .elementor-sortable-helper .icon {
    font-size: 28px;
    padding-top: 15px;
    line-height: 1; }
  .elementor-editor-active .elementor-sortable-helper .elementor-element-title-wrapper {
    display: table;
    width: 100%; }
  .elementor-editor-active .elementor-sortable-helper .title {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    height: 40px; }

.elementor-editor-active .elementor-inline-editing {
  min-height: 15px; }

.elementor-sortable-placeholder:not(.elementor-column-placeholder) {
  background-color: #71d7f7;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  opacity: .9; }

.elementor-section-placeholder {
  height: 40px;
  -webkit-animation-name: placeholder-section;
          animation-name: placeholder-section; }

.elementor-column-placeholder {
  position: relative; }
  .elementor-column-placeholder:before, .elementor-column-placeholder:after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px; }
  .elementor-column-placeholder:before {
    border: 1px solid #6d7882; }
  .elementor-column-placeholder:after {
    border: 1px dashed #fff; }

.elementor-widget-placeholder {
  height: 10px;
  -webkit-animation-name: placeholder-widget;
          animation-name: placeholder-widget; }

.elementor-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .elementor-empty-view > .elementor-first-add:after,
.elementor-first-add.elementor-html5dnd-current-element:after {
  content: '';
  background-color: #71d7f7;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: .9;
  height: 10px;
  -webkit-animation: placeholder-widget 500ms;
          animation: placeholder-widget 500ms;
  width: 100%; }

.elementor-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .elementor-empty-view > .elementor-first-add .elementor-icon,
.elementor-first-add.elementor-html5dnd-current-element .elementor-icon {
  display: none; }

.elementor-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] .elementor-inner-column .elementor-sortable-placeholder {
  display: none; }

.elementor-add-section {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1140px;
  position: relative; }
  .elementor-add-section:not(.elementor-dragging-on-child) {
    border: 2px dashed #d5dadf; }
  .elementor-add-section.elementor-dragging-on-child {
    border: 3px dashed #71d7f7; }
  .elementor-add-section[data-view="choose-action"] .elementor-select-preset {
    display: none; }
  .elementor-add-section[data-view="select-preset"] .elementor-add-new-section {
    display: none; }
  @media (max-width: 479px) {
    .elementor-add-section {
      display: none; } }

.elementor-add-section-inner {
  text-align: center;
  margin-top: 10px;
  padding: 40px 0; }

.elementor-add-new-section {
  display: inline-block; }
  .elementor-add-new-section .elementor-button {
    color: #fff;
    background-image: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    height: 40px;
    min-width: 170px;
    padding: 0 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer; }
    .elementor-add-new-section .elementor-button:hover {
      opacity: 0.85;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .elementor-add-new-section .elementor-button:active {
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1); }
  .elementor-add-new-section .elementor-add-section-button {
    background-color: #9b0a46; }
  .elementor-add-new-section .elementor-add-template-button {
    background-color: #6d7882;
    margin-right: 25px; }

.elementor-add-section-drag-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: #556068;
  margin-top: 15px; }

.elementor-add-section-close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  color: #d5dadf; }
  .elementor-add-section-close:hover {
    color: #6d7882; }

.elementor-select-preset-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #556068; }

.elementor-select-preset-list {
  list-style: none;
  padding: 0 25px;
  margin: 20px auto 0;
  overflow: hidden;
  max-width: 700px; }
  .elementor-select-preset-list .elementor-preset {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    float: right; }
    .elementor-select-preset-list .elementor-preset:hover path {
      fill: #6d7882; }
    .elementor-select-preset-list .elementor-preset:not(:hover) path {
      fill: #d5dadf; }
    .elementor-select-preset-list .elementor-preset svg {
      height: 50px; }

#elementor-add-new-section {
  margin: 60px auto; }
  #elementor-add-new-section[data-view="choose-action"] .elementor-add-section-close {
    display: none; }

.elementor-add-section-inline {
  margin: 10px auto; }

.elementor-column-percents-tooltip {
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 10px;
  background-color: #556068;
  width: 40px;
  padding: 3.5px 0;
  text-align: center;
  z-index: 1;
  line-height: 1; }
  .elementor-column-percents-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 8.5px solid transparent;
    top: 0; }
  .elementor-column-percents-tooltip[data-side="left"] {
    border-radius: 3px 0 0 3px;
    right: 15px; }
    .elementor-column-percents-tooltip[data-side="left"]:after {
      left: 100%;
      border-left-color: #556068;
      border-right-width: 0; }
  .elementor-column-percents-tooltip[data-side="right"] {
    border-radius: 0 3px 3px 0;
    left: 15px; }
    .elementor-column-percents-tooltip[data-side="right"]:after {
      right: 100%;
      border-right-color: #556068;
      border-left-width: 0; }

.elementor-editor-preview .elementor-element-overlay,
.elementor-editor-preview .elementor-empty,
.elementor-editor-preview .elementor-add-section,
.elementor-editor-preview .elementor-element-empty,
.elementor-editor-preview .elementor-widget-empty {
  display: none; }
/*# sourceMappingURL=editor-preview-rtl.css.map */